<div class="container py-5" class="row justify-content-center">
  <%= image_tag "cinema2.png", alt: "Old film camera", width: 900 %>

  <h1>Save your favourite movies</h1>
    <ul>
      <% @lists.each do |list| %>
      <li><%= link_to list.name, list_path(list) %></li>
      <% end  %>
    </ul>

  <div>
    <%= link_to "Add a new List", new_list_path, class: 'btn btn-primary' %>
  </div>
</div>
